<% provide(:title, 'All Users')%>
<p style="color: green"><%= notice %></p>

<h1>All Users</h1>
<%= will_paginate %>

<div id="users">
  <% @users.each do |user| %>
    <ul class="list-group">
      <li>
        <%= render user %>
      </li>
    </ul>
  <% end %>
</div>
<%= will_paginate %>

<%= link_to "New user", signup_users_path %>
